.App {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  max-width: 100%;
  overflow-x: hidden;
}

.pages-btns-div {
  position: relative;
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 90%;
  margin-top: 7rem;
}

.arrows-pages {
  width: 3rem;
  height:3rem;
}

.circle-btns-div {
  display: none;
  position: absolute;
  top: 86%;
  left: 20%;
 
}

.circle-btn {
  display: flex;
  height: 1.3em;
  width: 1.3rem;
  background: black;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .arrows-pages {
    display: none;
  }
  .circle-btns-div {
    display: flex;
    width: -moz-fit-content;
    width: 9rem;
    flex-direction: row;
    justify-content: space-evenly;
    top: 70%;
  }
  
}


