.App {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  max-width: 100%;
  overflow-x: hidden;
}

.pages-btns-div {
  position: relative;
  width: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 93%;
  margin-top: 7rem;
}

.arrows-pages {
  width: 3rem;
  height:3rem;
}