.div-cars {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
}

li {
  margin: 1rem;
  display: inline-block;
  
}

img {
  position: relative;
    width: 24vw;
    height: 34vh;
}


.blue-arrows {
  width: 3rem;
  height: 2rem;
}

.arrows-pages {
  width: 3rem;
}